
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding-bottom: 100px;
}
.container{
  width: 90%;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center{
  padding: 30px;
  text-align: center;
}
.not-allowed{
  cursor: not-allowed !important;
}
ul{
  list-style: none;
  overflow: hidden;
}
ul li{
  display: inline;
  padding: 3px 8px;
  border: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
  color:rgb(122, 122, 243);
  font-weight: 600;
}
ul li.active{
  color: #555 !important;
}

header{
  padding: 20px 0px;
  margin-bottom: 60px;
  box-shadow: 0 0 40px rgba(0,0,0,0.08);
}
.header .navbar{
  width: 100%;
}
form{width: 100%;}
.search{
  width: 100%;
  margin-top: 20px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  outline: none;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.08);
}

.repo{
  width: 90%;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0 0 40px rgba(0,0,0,0.08);
}

.repo .owner-avatar{
  max-width: 40%;
  margin-bottom: 20px;
}
.repo .owner-avatar img{
  width: 100%;
  height: 100%;
}

.repo .repo-info{
  width: 100%;
}
.repo-info p{
  margin: 5px 0;
  line-height: 1.6;
  word-spacing: 2px;
}
.repo .repo-info span{
  opacity: 0.8;
}

.btn{
  color: rgb(30, 30, 255);
  text-decoration: none;
}
.btn:hover{
  text-decoration: underline;
}


@media screen and (min-width: 520px) {
  .container{
    width: 80%;
  }
  .flex{
    justify-content: space-between;
    flex-direction: row;
  }
  form{width: 30%}
  .repo{
    width: 100%;
    justify-content: flex-start;
  }
  
  .repo .owner-avatar{
    max-width: 25%;
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .repo .repo-info{
    width: 70%;
  }
}

/* Desktop View*/
@media screen and (min-width: 920px) {
  .header{
    margin-bottom: 100px;
  }
  .repo .owner-avatar{
    max-width: 20%;
    margin-right: 30px;
  }
  .repo .repo-info{
    width: 70%;
  }
}

.loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading span{
  width: 10px;
  height: 15px;
  margin: 10px;
  background: rgb(85, 85, 255);
  animation: load 0.4s infinite linear alternate;
}
.loading span:nth-of-type(2){
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3){
  animation-delay: 0.4s;
}

@keyframes load {
  100%{
    transform: scaleY(3);
  }
}